textwidget custom-html-widget {
	background-color:rgba(6, 6, 6, 0.5);
}
/*.minus {
width: auto;		
}*/
.plusus {
	max-width: 1.0em;
	border: none;
	font-size: 1.0em;
	background-color: rgba(255, 255, 255, 0.0);
}
/*#min {
    width: auto;
}*/
#plus {
    width: auto;
} 
count {
	font-weight: bold;
}
order-forms { /*everything inside the order form*/
    width: 100%;
}
.order-item-group {
	max-width: 806px;
	margin: 0.2em;
	float:left;
	width: 33%;
	min-width: 355px;
}
order-items { /*order items nothing else*/
	text-align:left;
	width: 50%;
}
[price]{
    width: auto;
}
order-items button { /*order item buttons */
	border-radius:50%;
	text-align:right;
	font-size:12px;
	opacity: 0.6;
  transition: 0.8s;
	background-color:white;
}	
.extra{
	column-span: all;
	width:100%;
	float: left;
	white-space: pre-line;
}
extras{
	column-span: all;
	width:100%;
	float: left;
	text-align: center;
		border-style:solid;
		border-width: 0.1em; 
}
#afleverdatum {
 width: 100%;
	float: left;
}
.box {
	width: auto;
	height: 240;
	min-height: 240px ;
	max-width: 100%; /*800px*/
	min-width: 355px;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: auto auto;
	border-style: solid;
	border-width: 1px;
}
.info {
	width: 355px;
	height: auto;	
}
#spijs {
	/*width: auto;*/
	background-color: lavender;
}
#roomboter {
	/*width: auto;*/
	background-color: bisque;
}
.ItemButtons {
	width: 50%;
	min-width: 355px;
	/*background-color:rgba(255, 255, 255, 0.5);*/
}
.ItemContainer  {
	width: 50%;
	min-width: 355px;
	background-color:rgba(255, 255, 255, 0.5);
	min-height: 240px;
}
.title {
	background-color:rgba(255, 255, 255, 0.5);
	width: 50%;
	min-width: 355px;
}
.OrItemBox {
	width: 100%;
	white-space: nowrap;
}
.sizeButton {
	width: auto ;
	max-width: calc(100% / 3);
	height: 3em;
	font-size: 14px;
}
.all-items-container {
	width: 100%;
}